<h1>
  <span class="title">Rooms</span>
</h1>
<p class="hello">
  Hello <identicon string="{{user.name}}" size="1"></identicon> {{user.name}}
  <a href="sign_out" ng-hide="user.name == 'Agent Prism'">(Sign Out)</a>
</p>
<ul>
  <li class="event-item-new">
    <form ng-submit="create()">
      <input  title="Room title" 
              type="text" 
              ng-model="title" 
              placeholder="New room...">
    </form>
  </li>
  <li class="event-item" ng-repeat="event in events | orderBy:'title'">
    <event-item title="{{event.title}}" 
                id="{{event.id}}" 
                count="{{event.users.length}}" />
  </li>
</ul>